[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "this.path"]
	path = this.path
	url = https://github.com/arcadeantics/this.path
	shallow = true
	registered = true
